<ul class="layui-tab-title">
	<li <#if typename?? && typename == 'center'> class="layui-this"</#if>><a href="/user/center.html">我发表的问题</a></li>
	<li <#if typename?? && typename == 'answer'> class="layui-this"</#if>><a href="/user/center/answer.html">我回答的问题</a></li>
	<li <#if typename?? && typename == 'fans'> class="layui-this"</#if>><a href="/user/center/fans.html">我的粉丝</a></li>
	<li <#if typename?? && typename == 'follows'> class="layui-this"</#if>><a href="/user/center/follows.html">我关注的用户</a></li>
</ul>