<div class="main layui-clear">
	<div class="wrap">
	    <div class="content">
	      <div class="fly-tab">
	        <span>
	          <a href="/" class="tab-this">全部</a>
	          <a href="/finish.html">未结帖</a>
	          <a href="/accept.html">已采纳</a>
	          <a href="/essence.html">精帖</a>
	          <#if user??>
	          	<a href="/my.html">我的帖</a>
	          </#if>
	        </span>
	        <form action="/" class="fly-search">
	          <i class="iconfont icon-sousuo"></i>
	          <input class="layui-input" autocomplete="off" placeholder="搜索内容，回车跳转" type="text" name="q" value="${RequestParameters['q']!''}">
	        </form>
	        <a href="/topic/add.html" class="layui-btn jie-add">发布问题</a>
	      </div>
	      
	      
	      <ul class="fly-list">
	      	<#if defaultTopicList??>
	      	<#list defaultTopicList.content as topic>
	        <li class="fly-list-li">
	          <a href="/user/index/${topic.creater!''}.html" class="fly-list-avatar">
	            <img src="/res/image/${topic.creater!''}.html" onerror="this.src='/images/user/default.png'">
	          </a>
	          <h2 class="fly-tip">
	            <a href="/topic/detail/${topic.id!''}.html" class="ukefu-hl-ttile">${topic.title!''}</a>
	            <#if topic.top>
	            <span class="fly-tip-stick">置顶</span>
	            </#if>
	            <#if topic.essence>
	            <span class="fly-tip-jing">精帖</span>
	            </#if>
	          </h2>
	          <p>
	            <span><a href="/user/index/${topic.creater!''}.html"><#if topic.user??>${topic.user.username!''}<#else>${topic.username!''}</#if></a></span>
	            <span>${topic.updatetime?string('yyyy-MM-dd HH:mm:ss')}</span>
	            <span class="fly-list-hint"> 
	              <i class="iconfont" title="回答">&#xe60c;</i> ${topic.answers!0}
	              <i class="iconfont" title="人气">&#xe60b;</i> ${topic.views!0}
	            </span>
	          </p>
	        </li>
	        </#list>
	        </#if>
	        
	      </ul>
	      
	      <div style="text-align: center">
	        <div class="laypage-main" id="pages"></div>
	      </div>
	      
	    </div>
	  </div>
	  <div class="edge">
	    
	  
	    <h3 class="page-title">活跃用户 - TOP 12</h3>
	    <div class="user-looklog leifeng-rank">
	      <span>
	      	<#if topUserCommentList??>
	      	<#list topUserCommentList as topUserComment>
	        <a href="/user/index/${topUserComment.creater!''}.html">
	          <img src="/res/image/${topUserComment.creater}.png">
	          <cite><#if topUserComment.user??>${topUserComment.user.username!''}</#if></cite>
	          <i>${topUserComment.rowcount!0}次回答</i>
	        </a>
	        </#list>
	        </#if>
	      </span> 
	    </div>
	    
	    
	    <h3 class="page-title">最近热帖</h3>
	    <ol class="fly-list-one ukefu-ask-li">
	    	<#if relaAnswersList??>
	    	<#list relaAnswersList.content as relaViewsTopic>
		      <li>
		        <a href="/topic/detail/${relaViewsTopic.id!''}.html">${relaViewsTopic.title!''}</a>
		        
		        <div class="ukefu-ask-rela">
		        	<span title="发表时间"><i class="iconfont">&#xe60b;</i> ${relaViewsTopic.updatetime?string('yyyy-MM-dd HH:mm:ss')}</span>
		        	<span title="回复数"><i class="iconfont"></i> ${relaViewsTopic.answers!0}</span>
		        	<span title="关注数"><i class="iconfont">&#xe60b;</i> ${relaViewsTopic.views!0}</span>
		        </div>
		      </li>
		    </#list>
		    </#if>
	    </ol>
	    
	    <h3 class="page-title">近期热议</h3>
	    <ol class="fly-list-one">
	    	<#if relaViewsList??>
	    	<#list relaViewsList.content as relaAnswerTopic>
		      <li>
		        <a href="/topic/detail/${relaAnswerTopic.id!''}.html">${relaAnswerTopic.title!''}</a>
		        
		        <div class="ukefu-ask-rela">
		        	<span title="发表时间"><i class="iconfont">&#xe60b;</i> ${relaAnswerTopic.updatetime?string('yyyy-MM-dd HH:mm:ss')}</span>
		        	<span title="回复数"><i class="iconfont"></i> ${relaAnswerTopic.answers!0}</span>
		        	<span title="关注数"><i class="iconfont">&#xe60b;</i> ${relaAnswerTopic.views!0}</span>
		        </div>
		      </li>
		    </#list>
		    </#if>
	    </ol>
	    
	    <div class="fly-link">
	      <span>友情链接：</span>
	      <a href="http://www.uckefu.com/" target="_blank" title="多渠道统一客服系统" style="color:red;">优客服</a>
	      <a href="http://www.layui.com/" target="_blank">Layui</a>
	      <a href="http://www.oschina.net/" target="_blank">开源中国</a>
	    </div>
	    
	
	  </div>
  </div>
  <script>
  	layui.use(['laypage', 'layer'], function(){
  		var laypage = layui.laypage;
	  	laypage({
		    cont: 'pages'
		    ,first:'首页'
		    ,last:'末页'
		    ,pages: ${defaultTopicList.totalPages}
		    ,curr:${defaultTopicList.number+1}
		    ,skin: '#32c24d'
		    ,jump:function(obj, first){
		    	var curr = obj.curr;
		    	if(!first){
		    		location.href = '/?p='+curr+"<#if RequestParameters['q']?? && RequestParameters['q'] != ''>&q=${RequestParameters['q']}</#if>";
		    	}
		    }
		});
	});
  </script>